<launch>

<node name = "ip_cam_rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false"
ns="catamaran" output = "screen"
args = "--perspective-file $(find hikvision_ros)/config/ip_cam_gui.perspective"/>

<!-- VIDEO_STREAM_OPENCV NODE -->
<include file="$(find video_stream_opencv)/launch/camera.launch" >
        <!-- node name and ros graph name -->
        <arg name="camera_name" value="topside" />
        <!-- url of the video stream -->
        <arg name="video_stream_provider" value=" rtsp://stdops:labos123@10.0.15.52:554 drop-on-latency=true use-pipeline-clock=true do-retransmission=false latency=0 protocols=GST_RTSP_LOWER_TRANS_UDP ! rtph264depay ! h264parse ! avdec_h264 ! autovideosink sync=true " />
        
        <!-- rtsp://stdops:labos123@10.0.108.5:554 drop-on-latency=true use-pipeline-clock=true do-retransmission=false latency=0 protocols=GST_RTSP_LOWER_TRANS_UDP ! rtph264depay ! h264parse ! avdec_h264 ! autovideosink sync=true -->
        <!-- rtsp://stdops:labos123@10.0.108.5:554 latency=0 ! rtph264depay ! avdec_h264 ! videoconvert ! fpsdisplaysink sync=false -->

        <!-- set camera fps to (does nothing on a stream)-->
        <!-- <arg name="set_camera_fps" value="16"/> -->

        <!-- set buffer queue size of frame capturing to -->
        <arg name="buffer_queue_size" value="1" />
        <!-- throttling the querying of frames to -->
        <arg name="fps" value="16" />

        <!-- setting frame_id -->
        <arg name="frame_id" value="rtsp_frame" />
        <!-- camera info loading, take care as it needs the "file:///" at the start , e.g.:
        "file:///$(find your_camera_package)/config/your_camera.yaml" -->
        <arg name="camera_info_url" value="" />

        <!-- flip the image horizontally (mirror it) -->
         <arg name="flip_horizontal" value="false" />
        <!-- flip the image vertically -->
        <arg name="flip_vertical" value="false" />
        <!-- visualize on an image_view window the stream generated -->
        <arg name="visualize" value="false" />
        </include>


<arg name="ROS_RATE_IP_CAM_THROTTLED" default="10" />
<node name = "ip_cam_throttle_node" pkg = "topic_tools" type = "throttle" respawn = "false"
ns="topside" output = "screen"
args = "messages image_raw $(arg ROS_RATE_IP_CAM_THROTTLED) image_raw_throttled "/>



<!--
<rosparam file="$(find hikvision_ros)/config/ip_cam_keyboard_teleop_params.yaml" command="load"  />
<remap from="key_vel" to="ip_cam_teleop_cmd"/> 
<node name = "ip_cam_key_teleop" pkg = "key_teleop" type = "key_teleop.py" respawn = "false" ns="catamaran" output = "screen" />
-->



</launch>
